/*The variable colors code*/

$theme-p-white:#FFFFFF;
$theme-white: #F7F7F7;
$theme-black: rgb(10,20,10);
//$theme-blue: rgb(10,20,200);
$theme-blue: #279AF1;
$theme-red : rgb(200,20,10);

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.5s;